<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>공업설계입문</title>
    </head>
    <body>
        
        이름 : {{name}} 학번: {{student_id}} 학과 : {{career}} <br>

        <!-- 실습 2 -->

        <!-- 아래 2줄에 코드를 수정해야한다. -->
        {% if year == 2022 %}    <!-- 아래 코드를 실행하기 위한 조건문-->
            <h1>{{year-2000}}학번 입니다.</h1>   <!-- 여기에는 입력한 학번이 나와야함. ex) 18학번입니다. -->
        {% else %}
            <h1>고학번입니다.</h1>
        {% endif %}
        <!--  실습2  -->

    </body>
</html>

